@import url(reset.css);

* {
    border-radius: 5px;
}

/* Mobile */
@media only screen and (max-width: 768px) {
    header {
        width: 100vw;
        display: flex;
        justify-content: center;
        flex-direction: row;
    }

    nav {
        width: 100vw;
        flex-direction: column;
        display: flex;
        justify-content: center;
    }

    a {
        padding: 5px;
        margin: 1px 0;
        text-align: center;
        color: white;
        background-color: rgb(74, 159, 199);
    }

    article,
    footer {
        padding: 5px;
        margin: 5px 0;
        display: flex;
        flex-direction: column;
        width: 100vw;
        color: white;
        background-color: rgb(74, 159, 199);
    }

    img {
        width: 100vw;
        height: auto;
    }
}



/*Tablet  */
@media only screen and (min-width: 768px) {
    header {
        width: 100vw;
        display: flex;
        justify-content: center;
        flex-direction: row;
    }

    nav {
        width: 100vw;
        flex-direction: column;
        justify-content: center;
    }

    a {
        padding: 5px;
        margin: 1px 0;
        text-align: center;
        color: white;
        background-color: rgb(74, 159, 199);
    }
    img {
        display: flex;
        justify-content: center;
        width: 100vw;
        margin: 10px;
    }

    main {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    section {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    article {
        width: 22vw;
        color: white;
        background-color: rgb(74, 159, 199);
        margin: 1vw;
        padding: 5px;
    }



    footer {
        padding: 5px;
        margin: 5px 0;
        display: flex;
        flex-direction: column;
        width: 100vw;
        color: white;
        background-color: rgb(74, 159, 199);
    }
}



/* Desktop */
@media only screen and (min-width: 992px) {
    header {
        width: 100vw;
        display: flex;
        justify-content: center;
        flex-direction: row;
    }

    nav {
        width: 100vw;
        flex-direction: column;
        justify-content: center;
    }

    a {
        padding: 5px;
        margin: 1px 0px;
        text-align: center;
        color: white;
        background-color: #4a9fc7;
    }

    section {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }


    article {
        width: 50vw;
        color: white;
        background-color: #4a9fc7;
    }

    img {
        width: 98vw;
        height: auto;
    }

    main {
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
    }

    footer {
        padding: 5px;
        margin: 5px 5px;
        display: flex;
        flex-direction: column;
        width: 100vw;
        color: white;
        background-color: rgb(74, 159, 199);
    }
}